body{
    height: 600px;
    
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom right, #FF892E 0%, #E2F582 50%, #EF627E 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom right, #FF892E 0%, #E2F582 50%, #EF627E 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FF892E), color-stop(0.5, #E2F582), color-stop(1, #EF627E));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom right, #FF892E 0%, #E2F582 50%, #EF627E 100%);
}


#playerWindow{
    width:450px;
    height: 460px;
    margin: 5% auto auto 30%;
    border-radius: 20px;
    border: 3px solid blueviolet;
    text-align: center;



    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #825CFF 0%, #EDE8DD 50%, #EF4CDF 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top left, #825CFF 0%, #EDE8DD 50%, #EF4CDF 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #825CFF), color-stop(0.5, #EDE8DD), color-stop(1, #EF4CDF));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #825CFF 0%, #EDE8DD 50%, #EF4CDF 100%);


}
#playerWindow h2{
    margin-top: 10px;
    font-style: italic;
    font-size: 40px;
    text-shadow: -3px 0 4px #006;
    color: blue;
}
#playerAudio{
    width:500px;
    display:block;
}
#playButton{
    width:30px;
    height:30px;
}
#currentTrack{
    width:250px;
    height:200px;
    margin: 0px 10px 10px 10px;
    display: inline-table;
    position: absolute;
}
#trackDisplay{
    border: 1px solid blue;
    border-radius: 20px;
    width: 250px;
    height: 170px;
    margin-bottom: 10px;
    color: #5213F0;
    text-shadow: 5px 5px 10px #B2E0F0;
    background: -moz-linear-gradient(top, #B2CAF6 0%, whitesmoke 50%, #F0E0FF 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B2CAF6), color-stop(0%,whitesmoke), color-stop(100%,#F0E0FF)); /* webkit */
}
#progressBar{
    border: 1px solid blue;
    border-radius: 10px;
    width: 250px;
    height: 15px;

}
#progressSeek{
    width: 250px;
    height: 15px;
    border-radius: 10px;
    background-color: #E0E0FF;
}
#playlist{
    width:150px;
    height:200px;
    margin: 0px 0px 10px 250px;
    border: 1px solid blue;
    border-radius: 20px;
    display: inline-table;
    position: relative;  

    background: -moz-linear-gradient(top, #FFD6EB 0%, whitesmoke 50%, #F0E0FF 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFD6EB), color-stop(0%,whitesmoke), color-stop(100%,#F0E0FF)); /* webkit */ 
}
#playlist h4{
    display: inline;
    color: blue;
}
#playlist ul{
    overflow-y: scroll;
    display: run-in;
    text-align: left;
    margin-top: 30px;
    margin-left: -25px;
}
#playlist ul li{  
    list-style-type: disc;
    display: inline;
    float: left;
    color: blueviolet;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}/*
#playlist ul li a{
    float: left;
    color: blueviolet;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}*/
#trackName{
    font-size: 25px;
}
#playerControls{
    background: whitesmoke;
    border-radius: 10px;
    padding: 0.4em;
}
#playButton{
    width: 60px;
    height: 60px;
}
#nextButton, #previousButton{
    width: 45px;
    height: 45px;
}